body{
    background-color: #b6e6e7;
    font-family: "Helvetica Neue";
    height: 100vh;
}

#codeEntryForm{
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38vh;
}

div.form{
    display: block;
    text-align: center;
}

#codeBox{

    max-width: 100%;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    height: 2.5rem;
    width: 6.4rem;
    padding: 0.625rem 0rem 0.625rem 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: none;
    border-style: none;
    color: #f4654b;
    margin-right: 0rem;
    float: left;
    -webkit-appearance: none;
    box-sizing: content-box;
    caret-color : #3e3e3e;
}

#codeBox:focus, input:focus{
    outline: none;
}

#submitCode{
    font-family: FontAwesome;
    padding-right: 0.625rem;
    float: left;
    color: #b6e6e7;
    font-size: 2.5rem;
    height: 3.75rem;
    width: 3.5rem;
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    border-style: none;
    background-color: #ffffff;
    margin-left: 0rem;
    -webkit-appearance: none;
}

#submitCode:hover{
    color: rgb(194, 243, 244);
}

#submitCode:active{
    color: rgb(142, 187, 188);
}

#logo{
    height: 20rem;
    width: 20rem;
    padding: 0;
}

input {
    caret-color: #2a2a2a;
    display: block;
    margin-bottom: .5em;
}

#codeForm{
    height: 50vh;
    background-color: transparent;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.header{
    background-color: white !important;
    width: 100%;
    height: 3rem !important;
    top:0;
    display:block;
}
.headerDisappear{
    display: none !important;
    top: 0;

}

input[type=submit], input[type=Reset]{ -webkit-appearance:none; }

.hidden{
    display: none;
}
